@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

.body {
  text-align: center;
  margin-top: 2px;

  display: grid;
  grid-template-areas:
  "all all all"
  "def det det"
  "fav1 fav2 fav3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 24fr 24fr;
  grid-gap: 40px;
}
